database.db 
database.sqlite3 
database.sqlite3-shm 
database.sqlite3-wal
myfile.ics
.env
.cache-mertünübol
.cache
nextjs
output.mp4
cache
cyclop_env
GLADOS/__pycache__
GLADOS/.eggs
GLADOS/.cache-mertünübol
GLADOS/.cache-mert ünübol
openssl
python-video-converter
app.log