<div class="page-container">Page of</div>
<div class="logo-container"><img style="height: 18px;" src="https://app.useanvil.com/img/email-logo-black.png" /></div>
<table class="invoice-info-container">
<tbody>
<tr>
<td class="client-name" rowspan="2">{{client_name}}</td>
<td>Anvil Co</td>
</tr>
<tr>
<td>123 Main Street</td>
</tr>
<tr>
<td>Invoice Date: <strong>{{today_date}}</strong></td>
<td>San Francisco CA, 94103</td>
</tr>
<tr>
<td>Invoice No: <strong>12345</strong></td>
<td>hello@useanvil.com</td>
</tr>
</tbody>
</table>
<table class="line-items-container">
<thead>
<tr>
<th class="heading-quantity">&nbsp;</th>
<th class="heading-description">Description</th>
<th class="heading-price">&nbsp;</th>
<th class="heading-subtotal">Subtotal</th>
</tr>
</thead>
<tbody>
<tr>
<td>&nbsp;</td>
<td>{{item0}}</td>
<td class="right">&nbsp;</td>
<td class="bold">{{subtotal0}}</td>
</tr>
{% if item1 != 'empty' %}
<tr>
<td>&nbsp;</td>
<td>{{item1}}</td>
<td class="right">&nbsp;</td>
<td class="bold">{{subtotal1}}</td>
</tr>
{% endif %}
{% if item2 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item2}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal2}}</td>
</tr>
{% endif %}
{% if item3 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item3}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal3}}</td>
</tr>
{% endif %}
{% if item4 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item4}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal4}}</td>
</tr>
{% endif %}
{% if item5 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item5}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal5}}</td>
</tr>
{% endif %}
{% if item6 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item6}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal6}}</td>
</tr>
{% endif %}
{% if item7 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item7}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal7}}</td>
</tr>
{% endif %}
{% if item8 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item8}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal8}}</td>
</tr>
{% endif %}
{% if item9 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item9}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal9}}</td>
</tr>
{% endif %}
{% if item10 != 'empty' %}
<tr>
  <td>&nbsp;</td>
  <td>{{item10}}</td>
  <td class="right">&nbsp;</td>
  <td class="bold">{{subtotal10}}</td>
</tr>
{% endif %}
</tbody>
</table>
<table class="line-items-container has-bottom-border">
<thead>
<tr>
<th>Payment Info</th>
<th>Due By</th>
<th>Total Due</th>
</tr>
</thead>
<tbody>
<tr>
<td class="payment-info">
<div>Account No: <strong>123567744</strong></div>
<div>Routing No: <strong>120000547</strong></div>
</td>
<td class="large">{{month}}</td>
<td class="large total">{{total}}</td>
</tr>
</tbody>
</table>
<div class="footer">
<div class="footer-info">hello@useanvil.com | 555 444 6666 | useanvil.com</div>
<div class="footer-thanks"><img src="https://github.com/anvilco/html-pdf-invoice-template/raw/main/img/heart.png" alt="heart" />Thank you!</div>
</div>