@media (min-width: 275px)
    {  
        .image-container{
            
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 20vh;
            max-height: 20vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 10%;
        }
        p{
            margin-top: 2%;
        }

    }
    @media (min-width: 320px)
    {  
        .image-container{
            
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 20vh;
            max-height: 20vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 15%;
        }
        p{
            margin-top: 2%;
        }

    }
    @media (min-width: 540px)
    {  
        .image-container{
            display: flex;
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 20vh;
            max-height: 20vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-right: 10%;
        }
        p{
            margin-top: 2%;
        }

    }
    @media (min-width: 768px)
    {  
        .image-container{
            display: flex;
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 20vh;
            max-height: 20vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }
        p{
            margin-top: 2%;
        }

    }
    @media (min-width: 992px)
    {  
        .image-container{
            display: flex;
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 30vh;
            max-height: 30vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }
        p{
            margin-top: 2%;
        }
    }
    @media (min-width: 1200px)
    {  
        .image-container{
            display: flex;
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 35vh;
            max-height: 35vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }
        p{
            margin-top: 2%;
        }
    }
    @media (min-width: 1400px)
    {  
        .image-container{
            display: flex;
            justify-content: space-around;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 40vh;
            max-height: 40vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }
        p{
            margin-top: 2%;
        }
    }
    @media (min-width: 1600px)
    {  
        .image-container{
            display: flex;
            justify-content: space-evenly;
            background:darkslategray;
            border-radius: 15px 15px 15px 15px;
            
        }
        .image-container .assembly_img{
            max-width: 35vh;
            max-height: 35vh;
            position: relative;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }
        p{
            margin-top: 2%;
        }
    }
    