{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST">
  <body>
    <div class="wrapper">
      <form action="">
        <h1>GİRİŞ</h1>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Emailinizi Giriniz"
        >
        <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Şifrenizi Giriniz"
        >
        <input type="submit" id="submit" value="Giriş">
        <a href="#">Şifremi Unuttum?</a>
      </form> 
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="{{ url_for('static', filename='tilt.js') }}"></script>
    <script>
      const tilt = $('.wrapper').tilt({scale:1.01});
    </script>
  </body>
  
</form>   
{% endblock %}
