<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Cyclop Default Page" />
        <meta name="author" content="Mert Ünübol" />
        <title>Anasayfa</title>
        <!-- <link rel="icon" type="image/x-icon" href="/static" /> -->
        <!-- /*#######################################################*/ -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- /*#######################################################*/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
        <script src="{{ url_for('static', filename='js/tilt.js') }}"></script>
        <script>
          const tilt = $('.box').tilt({scale:1.01});
        </script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/pricing.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/teamcard.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/bootstrapmodified.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/home_search_button.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <a class="navbar-brand" href="#page-top" style="margin-left: 50px;">CYCLOPTR</a>
            <div class="container px-5">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/" id="home"class="active" style="font-size:15px ;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" id="logout" style="font-size:15px ;">Çıkış Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/upload-image" id="uploadImage" style="font-size:15px ;">Fotoğraf Yükle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard" id="dashboard" style="font-size:15px ;">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/show-posts" id="show_posts" style="font-size:15px ;">Topluluk ve Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pricing" id="pricing" style="font-size:15px ;">Paket Ve Fiyatlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_to_cart" id="show_products" style="font-size:15px ;">Ürünlerimiz</a>
                        </li>
                        {% if current_user.id == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.admin')}}">Admin</a>
                          </li>
                        {% endif %}
                    </ul>
                    <form method="POST" action="{{ url_for('auth.search')}}" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                        <button class="btn btn-outline-secondary" type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <p id='head1' class='header'>Kullanıcı Bilgilerini Güncelle</p>
            <p id='head6' class='header'>Profil</p>
            
            
            <div class='light x1'></div>
            <div class='light x2'></div>
            <div class='light x3'></div>
            <div class='light x4'></div>
            <div class='light x5'></div>
            <div class='light x6'></div>
            <div class='light x7'></div>
            <div class='light x8'></div>
            <div class='light x9'></div>   
        </header>
        <!-- Content section 1-->
        <section id="scroll">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <h2>Dashboard</h2>
                <br/>

                <div class="card">
                    <div class="card-header">
                        {{ current_user.name }}
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">

                        <div class="container">
                            <div class="row">
                                <div class="col-8" style="margin: auto;">
                            
                                    <strong>Name:</strong>
                                    {{ current_user.name }}<br/>

                                    <strong>Username:</strong>
                                    {{ current_user.username }}<br/>

                                    <strong>User Id:</strong>
                                    {{ current_user.id }}<br/>

                                    <strong>Email:</strong>
                                    {{ current_user.email }}<br/>

                                    <strong>Spotify Username:</strong>
                                    {{ current_user.Spotify_Username }}<br/>

                                    <strong>Spotify Email:</strong>
                                    {{ current_user.Spotify_Email }}<br/>

                                    <strong>Spotify Password:</strong>
                                    {{ current_user.Spotify_Password }}<br/>

                                    <strong>Netflix Email:</strong>
                                    {{ current_user.Netflix_Email }}<br/>

                                    <strong>Netflix Password:</strong>
                                    {{ current_user.Netflix_Password }}<br/>

                                    <strong>About Author:</strong>
                                    {{ current_user.about_author }}<br/>

                                    <strong>Date Joined:</strong>
                                    {{ current_user.date_added }}<br/>


                            

                                
                                    </p>
                                    <a href="{{ url_for('auth.logout')}}" class="btn btn-secondary btn-sm">Logout</a>

                                    <a href="{{ url_for('auth.update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

                                    <a href="{{ url_for('auth.delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
                                    <br/><br/>

                    
                                </div>
                                <div class="col-4">
                                    {% if current_user.profile_pic %}

                                    <img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" id="profile_pic" align="right">
                                    
                                    {% else %}

                                    <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" id="profile_pic" align="right">

                                    {% endif %}
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                
                <br/>

                <div class="card">
                    <div class="card-header">
                        Update Profile
                    </div>
                    <div class="card-body">

                        <form action="/dashboard" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}

                            {{ form.name.label(class="form-label") }}

                            {{ form.name(class="form-control", value=name_to_update.name) }}
                            <br/>

                            {{ form.username.label(class="form-label") }}

                            {{ form.username(class="form-control", value=name_to_update.username) }}
                            <br/>

                            {{ form.email.label(class="form-label") }}

                            {{ form.email(class="form-control", value=name_to_update.email) }}
                            <br/>

                            {{ form.spotify_username.label(class="form-label") }}

                            {{ form.spotify_username(class="form-control", value=name_to_update.spotify_username) }}
                            <br/>

                            {{ form.spotify_email.label(class="form-label") }}

                            {{ form.spotify_email(class="form-control", value=name_to_update.spotify_email) }}
                            <br/>

                            {{ form.spotify_password.label(class="form-label") }}

                            {{ form.spotify_password(class="form-control", value=name_to_update.spotify_password) }}
                            <br/>

                            {{ form.netflix_email.label(class="form-label") }}

                            {{ form.netflix_email(class="form-control", value=name_to_update.netflix_email) }}
                            <br/>

                            {{ form.netflix_password.label(class="form-label") }}

                            {{ form.netflix_password(class="form-control", value=name_to_update.netflix_password) }}
                            <br/>


                            {{ form.about_author.label(class="form-label") }}

                            <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
                            <br/>

                            {{ form.profile_pic.label(class="form-label") }}

                            {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic ) }}
                            

                            <br/>
                            
                            {{ form.submit(class="btn btn-secondary btn-sm") }}
                                
                        </form>
                    </div>
        </section>
       
       
        <footer class="kilimanjaro_area">
            <!-- Top Footer Area Start -->
            <div class="foo_top_header_one section_padding_100_70">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3" style="width: 240px;">
                            <div class="kilimanjaro_part">
                                <h5>Hakkımızda</h5>
                                <p>Cycloptr akıllı ve hızlı çözümler üretip ev , ofis için otomasyon hizmetleri sunmaktadır.Bunların içinde cihaz kontrolleri ve güvenlik sistemleri ile 7/24 ev güvenliğinizi ve takibinizi yapabilirsiniz. </p>
                                <p>Şirketimiz çalışanları kadar müşterilerinin fikirlerine de önem verir.Bunun için fikirlerinizi ya da geliştirmelerinizi bloğumuzda paylaşabilirsiniz ve bunların hayata geçirilebilmesine ön ayak olabilirsiniz.</p>
                            </div>
                            <div class="kilimanjaro_part m-top-15">
                                <h5>Social Medya</h5>
                                <ul class="kilimanjaro_social_links">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                    <li><a target="_blank" href="https://github.com/SAOCyper" ><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3" style="width: 240px;">
                            <div class="kilimanjaro_part">
                                <h5>Konu Başlıkları</h5>
                                <ul class=" kilimanjaro_widget">
                                    <li><a href="#">Yüz Tanıma</a></li>
                                    <li><a href="#">Ses Tanıma</a></li>
                                    <li><a href="#">Yapay Zeka</a></li>
                                    <li><a href="#">İnternet Bilgi Sistemi</a></li>
                                    <li><a href="#">Chat Bot</a></li>
                                    <li><a href="#">Ev Otomasyonu</a></li>
                                    <li><a href="#">Güvenlik Sistemleri</a></li>
                                    <li><a href="#">Eğlence</a></li>
                                </ul>
                            </div>
                            <div class="kilimanjaro_part m-top-15">
                                <h5>Önemli Linkler</h5>
                                <ul class="kilimanjaro_links">
                                    <li><a href="terms-and-conditions"><i class="fa fa-angle-right" aria-hidden="true"></i>Lisans Bilgisi</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Destek Hattı</a></li>
                                    <li><a href="privacy-policy"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Kariyer</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Topluluk Kuralları</a></li>
                                    <li><a href="show-posts"><i class="fa fa-angle-right" aria-hidden="true"></i>Topluluk & Forum</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3" >
                            <div class="kilimanjaro_part">
                                <h5>Son Postlar</h5>
                                {% for post in posts %}
                                    <div class="kilimanjaro_blog_area">
                                        <div class="kilimanjaro_thumb">
                                            <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                        </div>
                                        <a href="#">{{ post.title}}</a><br/>
                                        <p class="kilimanjaro_date">{{ post.date_posted}} | {{ post.slug}}</p>
                                        <p>{{ post.content|safe}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Contact Section -->
        <section id="contact" class="section has-img-bg pb-0" style="background: url('../static/images/section.jpg');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 my-3">
                        <h6 class="mb-0">Telefon numaramız</h6>
                        <p class="mb-4">+ 123-456-7890</p>

                        <h6 class="mb-0">Adresimiz</h6>
                        <p class="mb-4">Anıttepe Mahallesi Gülseren Sokak 20/3 Çankaya/Ankara</p>

                        <h6 class="mb-0">Email</h6>
                        <p class="mb-0">trcyclop@gmail.com</p>
                        <p></p>
                    </div>
                    <div class="col-md-7">
                        <form method="POST" action="send_messages">
                            <h4 class="mb-4">Bize Mesaj Bırak</h4>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control text-white rounded-0 bg-transparent" name="name" placeholder="İsim">
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="email" class="form-control text-white rounded-0 bg-transparent" name="email" placeholder="Email">
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control text-white rounded-0 bg-transparent" name="subject" placeholder="Konu">
                                </div>
                                <div class="form-group col-12" style="margin:auto ;">
                                    <textarea name="message" id="" cols="30" rows="4" class="form-control text-white rounded-0 bg-transparent" placeholder="Mesaj"></textarea>
                                </div>
                                <div class="form-group col-12 mb-0">
                                    <button type="submit" class="btn btn-primary rounded w-md mt-3">Gönder</button>
                                </div>                          
                            </div>                          
                        </form>
                    </div>
                </div>
                <!-- Page Footer -->
                <footer class="mt-5 py-4 border-top border-secondary">
                    <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>,Cycloptr Created By  <a href="https://cycloptr.com/" target="_blank"> Cyclop Inc.</a>  All rights reserved </p>     
                </footer>
                <!-- End of Page Footer -->  
            </div>
        </section> 
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
    </body>
</html>