<html>
  <body>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
                    data-client_id="997749653356-licjtcdgbl3l5igkv5hd3retq1k8f077.apps.googleusercontent.com"
                    data-login_uri="http://127.0.0.1:5500"
                    data-auto_prompt="false">
       </div>
       <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
        </div>
  </body>
</html>